<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/kategori/store" method="POST">
        <div class="mb-3">
          <label for="nama" class="form-label">Nama kategori</label>
          <input type="text" class="form-control" name="nama_kategori" required>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-sm btn-success">Simpan</button>
        </div>
      </form>
</body>
</html>